body {
    background-color: #f8f9fa !important;
}

/* Default sticky behavior */
.sticky-results {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
}

/* Sticky for larger screens (desktop) */
@media (min-width: 768px) {
    .sticky-results {
        top: calc(56px + 20px);
        align-self: flex-start;
    }
}

/* Sticky for smaller screens (mobile) */
@media (max-width: 768px) {
    .sticky-results {
        top: 0;
        z-index: 1030;
        background-color: white;
    }
}

/* Shrink Katex for smaller screens (mobile) */
@media (max-width: 768px) {
    .katex-display {
        font-size: 0.8rem !important;
    }
}